# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

1.4142135623730951

1.4142135623730951

### Quick check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [6]:
# Function here:
    
    
# Lambda function here:


# Test them out!

20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

    A   B   C   D  Group
0  63  14  89  45      0
1  65  89  19  66      1
2   3  41  48   1      0
3  73  52  95  55      1
4  97   0  85  37      0
5  51  82  21  85      1
6  94  80   3  21      0
7  21  73  32  23      1

     A    B    C    D  Group
0  126   28  178   90      0
1  130  178   38  132      2
2    6   82   96    2      0
3  146  104  190  110      2
4  194    0  170   74      0

           A             B             C             D
      _range   mean _range   mean _range   mean _range   mean
Group
0      188.0  128.5  160.0   67.5  172.0  112.5   88.0   52.0
2      104.0  105.0   74.0  148.0  152.0   83.5  124.0  114.5

               A                 B                 C                 D
      <lambda_0>   mean <lambda_0>   mean <lambda_0>   mean <lambda_0>   mean
Group
0          188.0  128.5      160.0   67.5      172.0  112.5       88.0   52.0
2          104.0  105.0       74.0  148.0      152.0   83.5      124.0  114.5

### Lambdas in sorting

In [18]:
people = [
    {'name': 'Xlegic', 'age': 37, 'role': 'student'},
    {'name': 'John', 'age': 45, 'role': 'student'},
    {'name': 'Jasmine', 'age': 20, 'role': 'student'},
    {'name': 'Eva', 'age': 33, 'role': 'instructor'},
]

[{'name': 'Jasmine', 'age': 20, 'role': 'student'},
 {'name': 'Eva', 'age': 33, 'role': 'instructor'},
 {'name': 'Xlegic', 'age': 37, 'role': 'student'},
 {'name': 'John', 'age': 45, 'role': 'student'}]

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe (solutions in repo).

**Problem 1**: apply a lambda function that gives the square root of every element

In [13]:
# Code here:

**Problem 2**: apply a lambda function that returns 'skewed' for each column if the difference between its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'

In [14]:
# Code here:

**Problem 3**: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns the number of group elements greater than 100

* x in lambda x iterates over the columns of the dataframe
* i in lambda function iterates over each element of the column

In [15]:
# Code here: